<!-- keep this for your unit test -->
<h1 class="visually-hidden">Hello, {{ title }}</h1>

<header class="topbar">
  <div class="brand">GIS Ops Dashboard</div>
  <nav>
    <a [routerLink]="['/dashboard.html']" routerLinkActive="active">Dashboard</a>
    <a [routerLink]="['/application-status.component']" routerLinkActive="active">Application Status</a>
    <a [routerLink]="['/feature-layer-mapping']" routerLinkActive="active">Feature Layer Mapping</a>
  </nav>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>